[core]
	editor = micro
[alias]
  s = status -s
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lgt = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --tags
	pure = pull upstream master --rebase
	co = checkout
[user]
	name = Yosua Ian Sebastian
	email = git@darcien.me
[init]
	defaultBranch = master
[merge]
	conflictstyle = zdiff3
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[diff]
	algorithm = histogram
[log]
	date = iso
