if [ -e .secrets.local ]; then
  source .secrets.local
fi

export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"

# Prefer ls deluxe over regular ls
# https://github.com/Peltoche/lsd
alias ls='lsd'
# https://github.com/sharkdp/bat
alias cat='bat'

alias lg='lazygit'
alias ld='lazydocker'

# navigation aliases
alias p="cd ~/projects/"

# reload shell config
alias reload="exec -l $SHELL"

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Using starship prompt
# https://github.com/starship/starship
eval "$(starship init zsh)"

# fnm
# eval "$(fnm env)"
# switch to use-on-cd on 2024-01-21 so node version is always correct on different project
eval "$(fnm env --use-on-cd)"

# local user bin
export PATH="$HOME/.local/bin:$PATH"

# Preferred editor
export EDITOR='micro'

# fix `zsh: no matches found` error
# when running command with `^`
# e.g. git reset HEAD^
# https://github.com/ohmyzsh/ohmyzsh/issues/449#issuecomment-6973326
# Happening since switching from omz to pure setup
setopt NO_NOMATCH

# Remove command lines from the history list when the first character on the line is a space, or when one of the expanded aliases contains a leading space.
# Only normal aliases (not global or suffix aliases) have this behaviour.
# Note that the command lingers in the internal history until the next command is entered before it vanishes, allowing you to briefly reuse or edit the line.
# If you want to make it vanish right away without entering another command, type a space and press return.
setopt HIST_IGNORE_SPACE

# zsh history options - https://postgresqlstan.github.io/cli/zsh-history-options/
SAVEHIST=9000
HISTSIZE=9999                   # set HISTSIZE > SAVEHIST

setopt EXTENDED_HISTORY         # include timestamp
setopt HIST_BEEP                # beep if attempting to access a history entry which isn't there
setopt HIST_EXPIRE_DUPS_FIRST   # trim dupes first if history is full
setopt HIST_FIND_NO_DUPS        # do not display previously found command
setopt HIST_IGNORE_DUPS         # do not save duplicate of prior command
# setopt HIST_IGNORE_SPACE        # do not save if line starts with space
setopt HIST_NO_STORE            # do not save history commands
setopt HIST_REDUCE_BLANKS       # strip superfluous blanks
setopt INC_APPEND_HISTORY       # don't wait for shell to exit to save history lines

# Cycle through history based on characters already typed on the line
autoload -U up-line-or-beginning-search
autoload -U down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search
bindkey "^[[A" up-line-or-beginning-search
bindkey "^[[B" down-line-or-beginning-search

# Homebrew managed shell completion,
# must be done before `compinit` is called
# https://docs.brew.sh/Shell-Completion#configuring-completions-in-zsh
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

# Needed for completion
autoload -Uz compinit
compinit

# Make selection visible and allow using arrow keys to select
# Need compinit to works
zstyle ':completion:*' menu select

# better ctrl-r history
# https://github.com/cantino/mcfly
eval "$(mcfly init zsh)"

# machine-local config: tools that auto-inject (LM Studio, deno, etc.) go here
# chezmoi does not manage this file
[ -f ~/.zshrc.local ] && source ~/.zshrc.local
